@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(#121212, #212b46);
}

.title {
  font-size: 85px;
  color: #fff;
  animation: flipTitle 2s;
  text-align: center;
}

@keyframes flipTitle {
  from {
    transform: rotateY(90deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

.container-input {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 15px;
  margin: 34px 0;
  border-radius: 8px;
  box-shadow: 1px 3px 8px #fff;
}

.container-input input {
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: #fff;
  outline: none;
  margin-right: 8px;
}
.container-input input::placeholder {
  color: #f1f1f1;
}

.button-search {
  background-color: transparent;
  border: 0;

  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.5s;
}

.button-search:hover {
  transform: scale(1.2);
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f1f1f1;
  width: 500px;
  border-radius: 8px;
}

.main h2 {
  margin: 16px 0;
  font-size: 30px;
}

.main span {
  margin-bottom: 16px;
  font-weight: bold;
}

@media (max-width: 620px) {
  .title {
    font-size: 55px;
  }
  .main h2 {
    font-size: 20px;
  }
  .main {
    width: 80%;
    min-height: 250px;
  }
}
